.side-container
  width 260px
  border-right 1px solid #ddd
  .nav-container a
    display block
    line-height 60px
    text-align center
    color black
    text-decoration none
    cursor pointer
    font-size 12px
  .nav-container a:hover
        color #108ee9
  .nav-container a.selected
    background #f0f0f0  
      
